
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-size: 4vmin;
  line-height: 4vmin;
  font-family: 'Open Sans';
  color: #4D4E53;
  background: url(https://careers.mozilla.org/static/img/bg-sand.png);
}

header {
  position: absolute;
  color: #fff;
  background: linear-gradient(#EA3B28, #C13832);
  padding: .5em 10em;
  transform: translate(-50%, -50%) rotate(-45deg) translate(0, 17vmin);
}

footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#posting h1 {
  text-align: center;
  position: absolute;
  font-size: 5vw;
  top: 15vh;
  left: 50vw;
  min-width: 85vw;
  line-height: 6vw;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 1vmin #fff;
}

#posting h2 {
  text-align: center;
  position: absolute;
  font-size: 4vw;
  min-width: 85%;
  top: 35vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 1vmin #fff;
}
#posting h2:before {
  content: '\1f310';
  margin-right: .5em;
}

#posting p {
  position: absolute;
  top: 65vh;
  left: 50vw;
  min-width: 70%;
  line-height: 1.2em;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 4vmin;
}

footer b {
  color: #0095DD;
  font-size: 110%;
}

#posting section {
  display: none;
}
#posting section.selected {
  display: block;
}

