
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  font-size: 4vh;
  line-height: 4vmin;
  font-family: 'Fira Sans';
  color: #4D4E53;
  background: url(https://careers.mozilla.org/static/img/bg-sand.png);
}

header {
  position: absolute;
  color: #fff;
  font-size: 1em;
  background: linear-gradient(#EA3B28, #C13832);
  padding: .3em 10em;
  transform: translate(-50%, -50%) rotate(-45deg) translate(0, 17vmin);
}

footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#posting * {
  display: none;
}

#posting h1,
#posting h2,
#posting p {
  display: block;
}

#posting h1 {
  text-align: center;
  position: absolute;
  font-size: 8vh;
  top: 11vh;
  left: 50vw;
  min-width: 75vw;
  max-width: 80vw;
  line-height: 1.2em;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 1vmin #fff;
}

#posting h2 {
  text-align: center;
  position: absolute;
  font-size: 6vh;
  min-width: 65%;
  top: 35vh;
  left: 50vw;
  font-weight: 500;
  line-height: 1.2em;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 1vmin #fff;
}
#posting h2:before {
  content: '\1f310';
  margin-right: .5em;
}

#posting p {
  position: absolute;
  top: 62vh;
  left: 50vw;
  min-width: 80%;
  line-height: 1.3em;
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: 4vmin;
  max-height: 5.2em;
  overflow: hidden;
}

img {
  position: absolute;
  bottom: .5em;
  left: .5em;
  height: 3em;
}

footer b {
  color: #3953A4;
  font-size: 110%;
}

#posting > * {
  display: none;
}

#posting section.selected {
  display: block;
}

